@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

:root {
  --bg-color: #0E0824;
  --primary-color: #F5A623;
  --button-color: #34CB55;
  --title-one: 4rem;
  --title-two: 3.2rem;
  --subtitle: 2.2rem;
  --text-one: 1.8rem;
  --text-two: 1.4rem;
}

body {
  font-family: 'Isidora Sans', sans-serif;
  color: #fff;
  background-color: var(--bg-color);
}

.title {
  font-size: var(--title-one);
  font-weight: 200;
  line-height: 4.7rem;
}

.subtitle {
  font-weight: 400;
  font-size: var(--subtitle);
  line-height: 2.6rem;
}

.subtitleVar {
  font-weight: 600;
  font-size: var(--title-two);
  line-height: 2.6rem;
}

.textOne {
  font-weight: 200;
  font-size: var(--text-one);
  line-height: 2.1rem;
}

.textOneVar {
  font-weight: 300;
  font-size: var(--text-one);
  line-height: 2.1rem;
}

.textTwo {
  font-weight: 200;
  font-size: var(--text-two);
  line-height: 1.3rem;
}

.titleTwo {
  font-weight: 600;
  font-size: var(--title-two);
  line-height: 2.1rem;
}

.primaryButton {
  background: var(--bg-color);
  color: #fff;
  height: 6rem;
  width: 100%;
  max-width: 40.4rem;
  border: 1px solid var(--primary-color);
  font-size: 1.3rem;
  border-radius: 0.3rem;
}

.saleButton {
  display: inline-block;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 40.4rem;
  border-radius: 0.3rem;
  font-size: 2rem;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.blinking-dot {
  display: inline-block;
  width: 1.5rem;  
  height: 1.5rem; 
  background-color: #28a745; 
  border-radius: 50%;
  position: absolute;
  top: 0.2rem; 
  right: -0.5rem; 
  transform: translateY(-50%);
  animation: blinking 1.5s infinite;
}


@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.boxHowWork {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  align-items: center;
  max-width: 40.4rem;
  width: 100%;
  height: 6rem;
  border: 1px solid var(--primary-color);
  color: #fff;
  align-self: flex-start;
  font-size: 1.6rem;
  border-radius: 0.3rem;
  font-size: 1.8rem;
  font-weight: 600;
}


.boxFAQ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 2rem;
  padding: 1.3rem;
  max-width: 40.4rem;
  width: 100%;
  height: fit-content;
  border: 1px solid var(--primary-color);
  color: #fff;
  align-self: flex-start;
  font-size: 1.6rem;
  border-radius: 0.3rem;
  font-size: 1.8rem;
  font-weight: 600;
}

@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 0; 
  }
}

.animate-waves {
  animation: wave 500s linear infinite;
  opacity: 50%;
  position: fixed;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation: fadeInUp 1s ease-out;
}

.inputModel {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  width: 100%;
  max-width: 40.6rem;
  height: 5.3rem;
  padding-left: 0.9rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 400;
}

.polaroidContainer {
  background-color: white;
  margin-bottom: 2rem;
  /* padding: 0.8rem; */
  height: 19rem;
}

.polaroidContainer image {
  background-color: white;
  margin-bottom: 2rem;
  width: 80%;
  height: 18rem;
  padding: 0.1rem;
  height: 16rem;
}